* {
    border: none;
    font-weight: 400, 700;
}

body {
    background-color: hsl(257, 54%, 3%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#initial,
#final {
    height: 17rem;
    width: 17rem;
    background-color: hsl(216, 12%, 8%);
    border-radius: 3rem;
    padding: 30px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 10rem;
}

#star {
    height: 2.5rem;
    width: 2.5rem;
    background-color: hsl(213, 19%, 18%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rate {
    height: 2.5rem;
    width: 2.5rem;
    background-color: hsl(213, 19%, 18%);
    border-radius: 50%;
    display: inline;
}

.rate:hover {
    background-color: hsl(217, 12%, 63%);
    color: #fff;
}

#button {
    width: 100%;
    height: 2rem;
    border-radius: 2rem;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    margin-top: 1.5rem;
}

#button:hover {
    background-color: #fff;
    color: hsl(25, 97%, 53%);
}

p,
.rate {
    color: hsl(216, 12%, 54%);
    font-size: 15px;
}

#ratings {
    display: flex;
    justify-content: space-between;
}

#final {
    justify-content: center;
    padding: 3.5rem;
    text-align: center;
}
#text {
    height: 2rem;
    width: 15rem;
    border-radius: 1rem;
    background-color: hsl(213, 19%, 18%);
    color: hsl(25, 97%, 53%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#h {
    margin: auto;
}